body{
	background-color: red;
}

.aderechas{
	float:right;
}

.marcador_r{
	font-size: 3em;
	float:left;
	margin-right:20px;

}
.marcador_l{
	font-size: 3em;
	float:right;
	margin-left:20px;

}
#content{
}

.etiquetas{
	font-size: 0.7em;
}
h1{
	padding-top:20px;
}

.botones{
	padding-top: 20px;
}

.oculto{
	display:none;
}

.tra{

	background: #0F0;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}

.tra:hover{

	background: #F00;
}

.bordes{
	border-style: solid;
}